<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
          <li> <a href="/">Home</a> </li>
          <li> <a href="/artists">All artists</a> </li>
          <li> <a href="/artists/new" >ADD Artist</a> </li>
          <li> <a href="/logout">LOG OUT</a> </li>
        <% } else { %>
          <li> <a href="/auth/google" class="login">LOG IN&nbsp;</a> </li>
        <% } %>
    </nav>
  </ul>
</div>

  <h1 class="index">GOAT Landscape</h1>

    <p class="index2">In this day and age, the term "GOAT" is widely used. What does it mean? Simply the greatest of all time. Use this website to let the world know who your "goat" is!</p>


  </body>
</html>
