<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GOAT</h1>
    <p>Who deserves the Title!</p>
    <a href="/artists/index">Get Started</a>
  </body>
</html>
