body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  -moz-text-decoration-style: wavy;
  background-color: white;
  background-size: cover;
  border: 3px solid gold;
}

nav {
  background-color: white;
  background-size: cover;
  border: 3px solid gold;
  font: black;
}

.index {
  text-align: center;
  background-size: cover;
  background-color: gold;
}

.goat-pic {
  height: 350px;
  width: 650px;

}
