<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>GOAT Talk</title>
</head>
<body>
  <nav>
    <ul>
      <% if (user) { %>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/artists">All artists</a> </li>
        <li> <a href="/artists/new" >ADD Artist</a> </li>
        <li> <a href="/logout">LOG OUT</a> </li>
      <% } else { %>
        <li> <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a> </li>
      <% } %>
  </nav>
</ul>

  <h1>Add Artist</h1>
  <form id="new-artist" action="/artists" method="POST" >
      <label>Artist:
          <input type ="text" name="name">
      </label><br>
      <label>Decade:
          <input type="text" name="decade">
      </label><br>
      <label>Genre:
          <input type="text" name="genre">
      </label><br>
      <input type="submit" value="Add Artist">
  </form>
</body>
</html>
